.productDetailsContainer {
    width: 100%;
    margin: 20px auto;
}

.productDisplayContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.productDisplayItem {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mainImgContainer {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImg {
    width: 70%;
}

.otherImgContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.otherImgItem {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border: 1px solid #edecec;
    border-radius: 2px;
    transition: all 0.3s ease-out;
}

.otherImgItem.activeImg {
    border: 1px solid #4d53f6;
}

.otherImgItem:hover {
    border: 1px solid #4d53f6;
}

.otherImg {
    width: 100%;
}

.actionContainer {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.actionLink {
    text-decoration: none;
    height: 30px;
    width: 150px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.actionLink:nth-of-type(1) {
    border: 1px solid #4d53f6;
    color: #4d53f6;
    background-color: white;
}

.actionLink:nth-of-type(2) {
    border: 1px solid #4d53f6;
    color: white;
    background-color: #4d53f6;
}

.detailsContainer {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.detailsContainerLists {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.detailsContainerList {
    font-size: 13px;
    margin: 1px 0;
}

.productDetailsH4 {
    margin: 5px 0;
    font-size: 18px;
    color: #4d53f6;
}

.productDetailsH3 {
    font-size: 18px;
    color: rgb(55, 55, 55);
    margin: 10px 0;
}

.productDetailsH3:not(:first-child) {
    color: #4d53f6;
    font-size: 20px;
}

.wathingContainer {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.watchingIcon {
    font-size: 15px;
    color: #4d53f6;
}

.watchingPeople {
    font-size: 13px;
    margin-left: 5px;
}

.aboutContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.about {
    font-size: 13px;
    margin: 0;
    color: rgb(55, 55, 55);
}

.relatedItemContainer {
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.relatedProducts {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    margin: 30px auto;
}

.productDetailsH2 {
    font-size: 25px;
    color: #4d53f6;
    margin: 0 auto;
}

@media (max-width: 932px) {
    .productDisplayContainer {
        grid-template-columns: 1fr;
    }

    .productDisplayItem:nth-of-type(1) {
        width: 80%;
        margin: 0 auto;
    }

    .relatedProducts {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .productDisplayItem {
        padding: 10px;
    }

    .productDetailsContainer, .aboutContainer, .detailsContainer {
        margin: 0;
        padding: 0;
    }

    .productDisplayItem:nth-of-type(1) {
        width: 100%;
    }

    .otherImgItem {
        width: 65px;
    }

    .actionContainer {
        justify-content: center;
    }

    .actionLink {
        width: 45%;
        margin-right: unset;
        margin: 0 5PX;
    }
}

@media (max-width: 450px) {
    .otherImgItem {
        width: 20%;
    }

    .mainImg {
        width: 95%;
    }
}