.bars {
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: none;
    color: rgb(86, 86, 86);
    /* color: #4d53f6; */
}

.bars:hover {
    transform: scale(1.1);
    color: #4d53f6;
}

@media (max-width: 932px) {
    .bars {
        display: block;
    }
}