.productDisplayContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.productsDisplayItem {
    position: relative;
    text-decoration: none;
    width: 95%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    cursor: pointer;
}

.optionPanel {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: all 0.4s ease-out;
}

.productsDisplayItem:hover .optionPanel {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.productsImgContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.productsImg {
    width: 70%;
}

.productsDetailsContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.productsH4 {
    font-size: 15px;
    margin: 5px 0;
    color: rgb(55, 55, 55);
    text-align: center;
}

.productsP {
    font-size: 13px;
    color: rgb(55, 55, 55);
    margin: 5px 0;
    font-weight: 600;
}

.defaultProduct {
    width: 100%;
    margin: 30px auto;
    height: 150px;
}

@media (max-width: 768px) {
    .productDisplayContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .productDisplayContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .productDisplayContainer {
        grid-template-columns: 1fr;
    }
    
    .productsImg {
        width: 70%;
    }
}