.productsTypeContainer {
    width: 100%;
    margin: 30px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.productsNavContainers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsNavBtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: grey;
    font: inherit;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
}

.productsNavBtn.active {
    color: #4d53f6;
}

.productsDisplayContainer {
    width: 100%;
    max-width: 1300px;
    display: grid;
    margin: 20px auto;
    grid-template-columns: 4 1fr;
    place-items: center;
}

@media (max-width: 768px) {
    .productsNavBtn {
        margin: 5px;
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    .productsNavBtn {
        margin: 5px;
        font-size: 10px;
    }
}