.topbarPanelContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.topbarPanelLink {
    position: relative;
    text-decoration: none;
    display: block;
}

.topbarPanelIcon {
    color: rgb(86, 86, 86);
    /* color: #4d53f6; */
    font-size: 16px;
    padding: 6px;
}

.itemCount {
    position: absolute;
    top: -6px;
    right: -7px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: 800;
    z-index: 100;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(55, 55, 55);
}

.topbarPanelItem {
    position: relative;
}

.displayCart {
    position: absolute;
    top: 25px;
    right: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.topbarPanelItem:nth-of-type(4):hover .displayCart {
    max-height: 480px;
    opacity: 1;
}

@media (max-width: 932px) {
    .topbarPanelItem {
        display: none;
    }

    .topbarPanelItem:last-child{
        display: block;
    }

    .topbarPanelIcon {
        font-size: 22px;
    }
}