.relatedProductsMain {
    position: relative;
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.relatedProductsHeader {
    text-align: left;
    font-size: 20px;
    color: #ad6c4d;
    letter-spacing: 1px;
}

.relatedItemsItemContainer {
    width: 95vw;
    margin-top: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    transition: all 0.5s ease;
}

.relatedItemsItemContainer::-webkit-scrollbar {
    display: none;
}

.pagintaionContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.angleIconContainer {
    height: 30px;
    width: 30px;
    /* margin: 0 8px; */
    border: 1px solid transparent;
    outline: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.angleIcon {
    color: #4d53f6;
    font-size: 20px;
}

.angleIconContainer:hover {
    animation: angleIcon 0.3s ease forwards;
}

.angleIconContainer:disabled {
    opacity: 0.5;
    cursor: default;
}


.carouselItem {
    position: relative;
    text-decoration: none;
    min-width: 249px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 5px;
}

.carouselImgContainer {
    width: 95%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.carouselImg {
    width: 50%;
    margin: 15px auto;
}

.carouselDetailsContainer {
    width: 95%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.carouselH3 {
    font-size: 13px;
    font-weight: 600;
    margin: 5px 0;
    text-align: center;
    color: rgb(55, 55, 55);
    min-height: 50px;
}

.productOptionContainer {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: all 0.4s ease-out;
    z-index: 400;
}

.carouselItem:hover .productOptionContainer {
    transform: translate(-50%, -50%);
    opacity: 1;
}

@media (max-width: 990px) {
    .productsDetailsContainer {
        margin: 10px auto;
    }

    .pagintaionContainer {
        display: none;
    }
}

@media (max-width: 768px) {
    .carouselItem {
        min-width: 220px;
    }

    .carouselH3 {
        min-height: 60px;
    }
}
