.removeAllItemBtn {
    position: relative;
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    overflow: hidden;
    cursor: pointer;
}

.removeAllItemIcon {
    width: 15px;
    height: 15px;
    padding: 10px;
    margin: 1px;
    color: inherit;
    border: none;
    outline: none;
}